services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    ports:
      - "3308:3306"
    volumes:
      - my_hotel_db:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
    networks:
      - reports_net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-prootpassword"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

volumes:
  my_hotel_db:

networks:
  reports_net:
    driver: bridge
